@import "tailwindcss";

@font-face {
  font-family: "NeueBit-Bold";
  src: url("/fonts/Neuebit-Full/PPNeueBit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mondwest-Regular";
  src: url("/fonts/Mondwest-Full/PPMondwest-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montreal-Medium";
  src: url("/fonts/Montreal/OTF/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-neuebit: "NeueBit-Bold", monospace;
  --font-mondwest: "Mondwest-Regular", sans-serif;
  --font-montreal: "Montreal-Medium", sans-serif;
}

/* Custom scrollbar for uploads section */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #97F0E5 #181B2A;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #181B2A;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #97F0E5cc;
  border-radius: 8px;
  border: 2px solid #181B2A;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #97F0E5;
}
